body{
	font-size:100%;
	background-color:#000000;
}

p{
	color:white;
	font-family:Helvetica;
}
h1{
	color:#8C2329;
	font-family:Georgia;
}

@media(min-width:720px){
 	.header{
      display:flex;
	  flex-direction:center;
	  justify-content: center;
    }
	.boxes{
      display:flex;
	  justify-content:center;
	 }
}

/* change the title color */
.navbar-brand{
	font-size: 14px;
	font-family:Verdana;
}

/* change the nav link color */
.navbar-custom .navbar-nav .nav-link {
    color: #fd7e14;
}

/* change the color of hovered nav links */
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/* Carousel in landing section */
.carousel-item {
  height: 50vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}